@(project:Project, tasks: Seq[Task], team: Seq[User])

<header>
    <hgroup>
        <h1>@project.folder</h1>
        <h2>@project.name</h2>
    </hgroup>
    <dl class="users">
        <dt>team</dt>
        <dd>
            <div class="wrap">
                <h3>mates</h3>
                <div class="list">
                    @team.map { user =>
                        <dl data-user-id="@user.email">
                            <dt>@user.name <span>(@user.email)</span></dt>
                            <dd class="action">Action</dd>
                        </dl>
                    }
                </div>
                <h3>add a mate</h3>
                <div class="addUserList">
                    @User.fetchAll.diff(team).map { user =>
                        <dl data-user-id="@user.email">
                            <dt>@user.name <span>(@user.email)</span></dt>
                            <dd class="action">Action</dd>
                        </dl>
                    }
                </div>
            </div>
        </dd>
    </dl>
</header>
<article  class="tasks" id="tasks">
    @tasks.groupBy(_.folder).map {
        case (folder, tasks) => {
            @views.html.tasks.folder(folder, tasks)
        }
    }
    <a href="#newFolder" class="new newFolder">new folder</a>
</article>

